name: Bypass review in case of emergency
on:
  pull_request:
    types:
      - labeled
permissions:
  pull-requests: write
jobs:
  approve:
    if: false  # Disabled
    uses: bufbuild/base-workflows/.github/workflows/emergency-review-bypass.yaml@main
    secrets: inherit
